@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form action="/Lecture/Add" method="post">
    Lecture Name <input type="text" name="Name">
    <input type="submit" value="Add">
</form>